In [ ]:
#Dependencies and Setup
import pandas as pd

In [ ]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data.head(10)

District Summary

In [ ]:
# Checking if there are any empty rows
complete_school_data.count()

In [ ]:
# Total number of unique schools
school_count = complete_school_data["school_name"].nunique()
school_count

In [ ]:
# Total number of students
students_count = complete_school_data["Student ID"].count()
students_count

In [ ]:
# Total budget
total_budget = complete_school_data["budget"].unique().sum()
total_budget

In [ ]:
# Total budget
#pd.unique(complete_school_data[["school_name", "budget"] ].values.ravel('k'))

In [ ]:
# Average math score
Avg_math_score = complete_school_data["math_score"].mean()
Avg_math_score

In [ ]:
# Average reading score
Avg_reading_score = complete_school_data["reading_score"].mean()
Avg_reading_score

In [ ]:
# Percentage of students passed math those secured above 70
percent_students_passed_math =((complete_school_data.loc[complete_school_data["math_score"]>=70,
                                               "math_score"].count())/students_count)*100
percent_students_passed_math

In [ ]:
percent_students_passed_reading = ((complete_school_data.loc[complete_school_data["reading_score"]>=70,
                                                    "reading_score"].count())/students_count)*100
percent_students_passed_reading

In [ ]:
overall_passing_percent = ((complete_school_data.loc[(complete_school_data["math_score"]>=70)&
                        (complete_school_data["reading_score"]>=70),"Student ID"]
                        .count())/students_count)*100
overall_passing_percent

In [ ]:
district_df = pd.DataFrame([{"Total Schools":school_count, "Total Students":students_count,
             "Total Budget": total_budget, "Average Math Score":Avg_math_score,
             "Average Reading Score":Avg_reading_score, "%Passed Math": percent_students_passed_math,
             "%Passed Reading":percent_students_passed_reading, "Overall Pass Percent":overall_passing_percent}])
district_df

School Summary

In [ ]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

In [ ]:
# groupedby_school_name = complete_school_data.groupby(["school_name"])
# groupedby_school_name

In [ ]:
# Total Students in each school
groupedby_school_name = complete_school_data.groupby(["school_name"])
total_students_per_school = groupedby_school_name.count()["Student ID"]
total_students_per_school
#groupedby_school_name

In [ ]:
budget_per_school = groupedby_school_name.mean()["budget"]
budget_per_school

In [ ]:
# Per student budget
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

In [ ]:
# Average math score
avg_math_score_per_school = groupedby_school_name.mean()["math_score"]

In [ ]:
avg_reading_score_per_school = groupedby_school_name.mean()["reading_score"]
avg_reading_score_per_school

In [ ]:
# Percentage of students passed math per school
passed_students_m = complete_school_data.query("math_score >= 70")
#passed_students = passed_students.filter(["school_name", "math_score"])
percent_passed_math_per_school = ((passed_students.groupby("school_name").count()
                                      ["math_score"])/total_students_per_school)*100
percent_passed_math_per_school

In [ ]:
# Percentage of students passed Reading per school
passed_students_r = complete_school_data.query("reading_score >= 70")
percent_passed_reading_per_school = ((passed_students_r.groupby("school_name").count()
                                        ["reading_score"])/total_students_per_school)*100
percent_passed_reading_per_school

In [ ]:
# Overall pass percent per school
overall_passed = complete_school_data.query("reading_score >= 70 & math_score >= 70")
overall_pass_percent = ((overall_passed.groupby("school_name").count()
                                        ["Student ID"])/total_students_per_school)*100
overall_pass_percent

In [ ]:
# Dataframe for school summary
school_summary = pd.DataFrame({"School type": school_types ,
                               "Total Students":total_students_per_school, 
                               "Total School Budget": budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : avg_math_score_per_school,
                               "Average Reading Score": avg_reading_score_per_school,
                               "% Passed Math" : percent_passed_math_per_school,
                               "% Passed Reading": percent_passed_reading_per_school,
                               "Overall Pass %" : overall_pass_percent})
school_summary

In [ ]:
# sorted schools based on overall pass percent and display top 5 schools
top_schools = school_summary.sort_values("Overall Pass %", ascending = False)
top_schools.head()

In [ ]:
# sorted schools based on overall pass percent and display 5 schools with low pass percent
bottom_schools = school_summary.sort_values("Overall Pass %")
bottom_schools.head()

In [ ]:
complete_school_data.head(10)

In [ ]:
# Average math scores by grade

# Use the code provided to separate the data by grade
ninth_graders = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_graders = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_graders = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_graders = complete_school_data[(complete_school_data["grade"] == "12th")]

#Group by "school_name" and take the mean of each.
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean()["math_score"]
tenth_grader_math_scores = tenth_graders.groupby("school_name").mean()["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby("school_name").mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby("school_name").mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores, "10th":tenth_grader_math_scores,
                          "11th":eleventh_grader_math_scores, "12th":twelfth_grader_math_scores})


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# avg_math_score_by_grade = avg_score_by_grade["math_score"].mean()
# #math_score_df = pd.DataFrame()
# #.sort_values(["school_name","grade"],ascending = False)
# avg_math_score_by_grade

In [ ]:
#Group by "school_name" and take the mean of each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name").mean()["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby("school_name").mean()["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name").mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name").mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grade_reading_scores,
                                       "10th":tenth_grader_reading_scores,
                                       "11th":eleventh_grader_reading_scores,
                                       "12th":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade