In [ ]:
#Dependencies and Setup
import pandas as pd

In [ ]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data.head(10)

District Summary

In [ ]:
# Checking if there are any empty rows
complete_school_data.count()

In [ ]:
# Total number of unique schools
school_count = complete_school_data["school_name"].nunique()
school_count

In [ ]:
# Total number of students
students_count = complete_school_data["Student ID"].count()
students_count

In [ ]:
# Total budget
total_budget = complete_school_data["budget"].unique().sum()
total_budget

In [ ]:
# Total budget
#pd.unique(complete_school_data[["school_name", "budget"] ].values.ravel('k'))

In [ ]:
# Average math score
Avg_math_score = complete_school_data["math_score"].mean()
Avg_math_score

In [ ]:
# Average reading score
Avg_reading_score = complete_school_data["reading_score"].mean()
Avg_reading_score

In [ ]:
# Percentage of students passed math those secured above 70
percent_students_passed_math =((complete_school_data.loc[complete_school_data["math_score"]>=70,
                                               "math_score"].count())/students_count)*100
percent_students_passed_math

In [ ]:
percent_students_passed_reading = ((complete_school_data.loc[complete_school_data["reading_score"]>=70,
                                                    "reading_score"].count())/students_count)*100
percent_students_passed_reading

In [ ]:
overall_passing_percent = ((complete_school_data.loc[(complete_school_data["math_score"]>=70)&
                        (complete_school_data["reading_score"]>=70),"Student ID"]
                        .count())/students_count)*100
overall_passing_percent

In [ ]:
district_df = pd.DataFrame([{"Total Schools":school_count, "Total Students":students_count,
             "Total Budget": total_budget, "Average Math Score":Avg_math_score,
             "Average Reading Score":Avg_reading_score, "%Passed Math": percent_students_passed_math,
             "%Passed Reading":percent_students_passed_reading, "Overall Pass Percent":overall_passing_percent}])
district_df

School Summary

In [ ]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

In [ ]:
# groupedby_school_name = complete_school_data.groupby(["school_name"])
# groupedby_school_name

In [ ]:
# Total Students in each school
groupedby_school_name = complete_school_data.groupby(["school_name"])
total_students_per_school = groupedby_school_name.count()["Student ID"]
total_students_per_school
#groupedby_school_name

In [ ]:
budget_per_school = groupedby_school_name.mean()["budget"]
budget_per_school

In [ ]:
# Per student budget
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

In [ ]:
# Average math score
avg_math_score_per_school = groupedby_school_name.mean()["math_score"]

In [ ]:
avg_reading_score_per_school = groupedby_school_name.mean()["reading_score"]
avg_reading_score_per_school

In [ ]:
# Percentage of students passed math per school
passed_students_m = complete_school_data.query("math_score >= 70")
#passed_students = passed_students.filter(["school_name", "math_score"])
percent_passed_math_per_school = ((passed_students_m.groupby("school_name").count()
                                      ["math_score"])/total_students_per_school)*100
percent_passed_math_per_school

In [ ]:
# Percentage of students passed Reading per school
passed_students_r = complete_school_data.query("reading_score >= 70")
percent_passed_reading_per_school = ((passed_students_r.groupby("school_name").count()
                                        ["reading_score"])/total_students_per_school)*100
percent_passed_reading_per_school

In [ ]:
# Overall pass percent per school
overall_passed = complete_school_data.query("reading_score >= 70 & math_score >= 70")
overall_pass_percent = ((overall_passed.groupby("school_name").count()
                                        ["Student ID"])/total_students_per_school)*100
overall_pass_percent

In [75]:
# Dataframe for school summary
school_summary = pd.DataFrame({"School type": school_types ,
                               "Total Students":total_students_per_school, 
                               "Total School Budget": budget_per_school,
                               "Per Student Budget" : budget_per_student,
                               "Average Math Score" : avg_math_score_per_school,
                               "Average Reading Score": avg_reading_score_per_school,
                               "% Passed Math" : percent_passed_math_per_school,
                               "% Passed Reading": percent_passed_reading_per_school,
                               "Overall Pass %" : overall_pass_percent})
school_summary

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Pass %
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [ ]:
# sorted schools based on overall pass percent and display top 5 schools
top_schools = school_summary.sort_values("Overall Pass %", ascending = False)
top_schools.head()

In [ ]:
# sorted schools based on overall pass percent and display 5 schools with low pass percent
bottom_schools = school_summary.sort_values("Overall Pass %")
bottom_schools.head()

In [ ]:
complete_school_data.head(10)

In [ ]:
# Average math scores by grade

# Use the code provided to separate the data by grade
ninth_graders = complete_school_data[(complete_school_data["grade"] == "9th")]
tenth_graders = complete_school_data[(complete_school_data["grade"] == "10th")]
eleventh_graders = complete_school_data[(complete_school_data["grade"] == "11th")]
twelfth_graders = complete_school_data[(complete_school_data["grade"] == "12th")]

#Group by "school_name" and take the mean of each.
ninth_grade_math_scores = ninth_graders.groupby("school_name").mean()["math_score"]
tenth_grader_math_scores = tenth_graders.groupby("school_name").mean()["math_score"]
eleventh_grader_math_scores = eleventh_graders.groupby("school_name").mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders.groupby("school_name").mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_grade_math_scores, "10th":tenth_grader_math_scores,
                          "11th":eleventh_grader_math_scores, "12th":twelfth_grader_math_scores})


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# avg_math_score_by_grade = avg_score_by_grade["math_score"].mean()
# #math_score_df = pd.DataFrame()
# #.sort_values(["school_name","grade"],ascending = False)
# avg_math_score_by_grade

In [ ]:
#Group by "school_name" and take the mean of each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name").mean()["reading_score"]
tenth_grader_reading_scores = tenth_graders.groupby("school_name").mean()["reading_score"]
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name").mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name").mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grade_reading_scores,
                                       "10th":tenth_grader_reading_scores,
                                       "11th":eleventh_grader_reading_scores,
                                       "12th":twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

In [ ]:
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
school_spending_df = school_summary.copy()

In [ ]:
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"],
                                            spending_bins,labels=spending_labels)
school_spending_df

In [ ]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passed Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passed Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Pass %"]

In [ ]:
spending_summary_df = pd.DataFrame({"Average Math Score":spending_math_scores,
                                   "Average Reading Score":spending_reading_scores,
                                   "% Passed Math":spending_passing_math,
                                   "% Passing Reading":spending_passing_reading,
                                   "Overall Pass %":overall_passing_spending})
spending_summary_df

In [ ]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [83]:
size_summary = school_summary.copy()
size_summary["School Size"] = pd.cut(size_summary["Total Students"],size_bins,labels=size_labels)
size_summary

,School type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,Overall Pass %,School Size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [85]:
# Calculate averages for the desired columns. 
size_math_scores = size_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = size_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = size_summary.groupby(["School Size"]).mean()["% Passed Math"]
size_passing_reading = size_summary.groupby(["School Size"]).mean()["% Passed Reading"]
size_overall_passing = size_summary.groupby(["School Size"]).mean()["Overall Pass %"]

In [86]:
size_summary_df = pd.DataFrame({"Average Math Score":size_math_scores,
                                "Average Reading Score":size_reading_scores,
                                "% Passing Math":size_passing_math,
                                "% Passing Reading":size_passing_reading,	
                                "% Overall Passing":size_overall_passing})
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [81]:
type_math_scores = school_summary.groupby("School type").mean()["Average Math Score"]
type_reading_scores = school_summary.groupby(["School type"]).mean()["Average Reading Score"]
type_passing_math = school_summary.groupby(["School type"]).mean()["% Passed Math"]
type_passing_reading = school_summary.groupby(["School type"]).mean()["% Passed Reading"]
type_overall_passing = school_summary.groupby(["School type"]).mean()["Overall Pass %"]

In [87]:
type_summary_df = pd.DataFrame({"Average Math Score":type_math_scores,
                                "Average Reading Score":type_reading_scores,
                                "% Passing Math":type_passing_math,
                                "% Passing Reading":type_passing_reading,	
                                "% Overall Passing":type_overall_passing})
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208