In [1]:
#Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_school_data.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [3]:
# Checking if there are any empty rows
complete_school_data.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [4]:
# Total number of unique schools
school_count = complete_school_data["school_name"].nunique()
school_count

15

In [5]:
# Total number of students
students_count = complete_school_data["Student ID"].count()
students_count

39170

In [6]:
# Total budget
complete_school_data["budget"].unique().sum()

24649428

In [7]:
# Total budget
pd.unique(complete_school_data[["school_name", "budget"] ].values.ravel('k'))

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School', 1910635, 1884411, 1056600, 3022020, 917500,
       1319574, 1081356, 3124928, 248087, 585858, 1049400, 2547363,
       3094650, 1763916, 1043130], dtype=object)

In [8]:
# Average math score
Avg_math_score = complete_school_data["math_score"].mean()
Avg_math_score

78.98537145774827

In [9]:
# Average reading score
Avg_reading_score = complete_school_data["reading_score"].mean()
Avg_reading_score

81.87784018381414

In [10]:
# Percentage of students passed math those secured above 70
percent_students_passed_math =((complete_school_data.loc[complete_school_data["math_score"]>=70,
                                               "math_score"].count())/students_count)*100
percent_students_passed_math

74.9808526933878

In [11]:
percent_students_passed_reading = ((complete_school_data.loc[complete_school_data["reading_score"]>=70,
                                                    "reading_score"].count())/students_count)*100
percent_students_passed_reading

85.80546336482001

In [19]:
overall_passing_percent = ((complete_school_data.loc[(complete_school_data["math_score"]>=70)&
                        (complete_school_data["reading_score"]>=70),"Student ID"]
                        .count())/students_count)*100
overall_passing_percent

65.17232575950983